body {
    font-family: quicksand, sans-serif;

}

.career-btn {
    background-color: #1BBC9B;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    font-size: 14px;
    padding: 12px;
}

@media(max-width:440px) {
    .career-btn {
        padding: 4px;
        font-size: 10px;
    }
}


.career-btn:hover {
    color: white;
}

.explore {
    border-radius: 100%;
    background-color: #1BBC9B;
    color: white;
    max-height: 31px;
    padding: 10px 8px 10px 5px;
    margin-left: 9px;
}

.question-mark {
    color: #1BBC9B;
}

.career {
    display: flex;
    flex-wrap: wrap;
    column-gap: 75px;
    margin-top: 40px;
}

.career1 {
    background: #747474;
    width: 100%;
    max-width: 200px;
    height: 100%;
    min-height: 165px;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-family: quicksand, sans-serif;

}

.career2 {
    background: #747474;
    margin-top: 50px;
    width: 100%;
    max-width: 200px;
    height: 100%;
    min-height: 165px;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-family: quicksand, sans-serif;


}

@media all and (min-width:1400px) and (max-width:3000px) {
    .career {
        column-gap: 155px;
    }
}

@media all and (min-width:1048px) and (max-width:1199px) {
    .career {
        column-gap: 35px;
    }
}

@media(max-width:1047px) {
    .career {
        margin-top: 0px;
        column-gap: 35px;
    }

}

@media(max-width:991px) {
    .career {
        margin-top: 0px;
        column-gap: 86px;
    }

    .career1 {
        max-width: 290px;
        margin-top: 20px;

    }

    .career2 {
        max-width: 290px;
        margin-top: 24px;
    }
}

@media(max-width:767px) {
    .career {}

    .career1 {
        margin-top: 20px;
        min-width: 100%;

    }

    .career2 {
        margin-top: 24px;
        min-width: 100%;

    }
}

@media(max-width:575px) {
    .location-col {
        float: left;
    }
}

.location-col {
    text-align: end;
}

.apply {
    color: #1BBC9B;
    text-decoration: none;
    margin-left: 30px;
}

.apply:hover {
    color: #1BBC9B;
}

.arrow8 {
    max-height: 10px;
}


/* Apply form css */
.apply-text {
    font-size: 40px;
    margin-bottom: 1.5rem;
    font-family: quicksand, sans-serif;
    font-weight: 600;
    line-height: 1.2;
    color: #000000;
    margin-top: 95px;
}

.form-input {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #747474;
    min-height: 35px;
}

.form-label {
    font-size: 18px;
    font-family: quicksand, sans-serif;
}

.submit {
    background-color: #1BBC9B;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 3px 15px;
    border: none;
}

/* Apply form ended */


/* Geeks on demand */
.used-for {
    color: #1BBC9B;
}

.round-geeks {
    font-size: 13px;
    line-height: 1.5em;
    margin: 5px 0 15px;
    padding: 0;

}

.rounded-geeks {
    list-style: none;
    position: relative;
    padding: 0px 0px 22px 18px;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 1.8rem;
    font-family: quicksand, sans-serif;
    color: 212529;
    color: #ffffff;
}

.round-geeks .rounded-geeks::before {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #1BBC9B;
}

.geek-wrapper {
    margin-top: 95px;
}

.geeks {
    background-color: #747474;
    color: white;

}

.geek-text {
    font-size: 40px;
    margin-bottom: 1.5rem;
    font-family: quicksand, sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #ffffff;
    margin-top: 100px;
}

.banner-form {
    background-color: #1BBC9B;
    border-radius: 10px;
    margin-top: 30px;
    padding: 20px;
    margin: 20px;
}

.geek-button {
    background: #08336A;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

.order-list {
    max-width: 350px;
    counter-reset: my-awesome-counter;
    list-style: none;
}

.order-item {
    margin: 0 0 0.5rem 10px;
  counter-increment: my-awesome-counter;
  position: relative;
  font-size: 18px;
  font-family: quicksand, sans-serif;
  font-weight: bold;

}

.order-item:before {
    content: counter(my-awesome-counter);
    color:#000000;
    font-size: 18px;
    position: absolute;
    --size: 32px;
    left: calc(-1 * var(--size) - 10px);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    top: 0;
   border: 2px solid   #1BBD98;;
    border-radius: 50%;
    text-align: center;
}

.small-text {
    font-family: quicksand, sans-serif;
    font-weight: 400;

}

.second-button {
    border: none;
    border-radius: 7px;
    background-color: #1BBC9B;
    color: white;
    padding: 5px 5px 5px 10px
}

.white-arrow {
    margin: 6px;
    max-height: 10px;
}

/* Geeks on demand ended */



.select-tag {
    border: none;
    font-family: quicksand, sans-serif;
    padding: 0px 10px;
    margin-right: 35px;
    margin-left: -14px;
    max-width: 80px;
    background-color: #fff;
}

.select-tag2 {
    border: none;
    background-color: #fff;

}


/* Data science */
.data-image {
    max-height: 100px;
    border-radius: 100%;
    border: 15px solid #1BBC9B;
    padding: 10px;
}

.yellow-arrow {
    max-height: 20px;
    margin-left: -9px;
}
.yellow-arrow1 {
    max-height: 20px;
    margin-left: -9px;
}
@media all and (min-width:768px) and (max-width:1920px){
    .yellow-arrow1{
          display: none;
    }
}
.data-text {
    font-family: quicksand, sans-serif;
    font-size: 16px;
    margin-left: -15px;
    text-align: center;
    margin-top: 10px;
}
@media all and (min-width:280px) and (max-width:991px){
    .yellow-arrow{
        display: none;
    }
    .yellow-arrow1{
        display: none;
    }
}

/* data science page ended */

/* Developers Forms */
.round-form {
    font-size: 13px;
    line-height: 1.5em;
    margin: 5px 0 15px;
    padding: 0;

}

.rounded-list-form {
    list-style: none;
    position: relative;
    padding: 0px 0px 22px 18px;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 1.8rem;
    font-family: quicksand, sans-serif;
    color: 212529;
    color: #36373b;
    border-radius: 5px;
    padding: 10px 25px;
}

.round-form .rounded-list-form::before {
    content: "";
    position: absolute;
    left: 8px;
    top: 19px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #1BBC9B;
}

@media(max-width:575px) {
    .green-button {
        margin: 20px;
    }

    .round-form {
        margin-top: 40px;
    }
}


/* contact-form */
.contact-form input {
    border: 0;
    border-bottom: 1px solid #ccc;
    background: 0 0;
    padding: 10px 10px 10px 0;
    margin: 30px 0;
    width: 100%;
    outline: none;
    color: #000000;

}

.contact-form textarea {
    border: 0;
    border-bottom: 1px solid #ccc;
    background: 0 0;
    padding: 10px 10px 10px 0;
    margin: 30px 0;
    width: 100%;
    height: 60px;
    outline: none;
    color: #000000;
}

.contact-text {
    margin-top: -15px;
}
.span-item{
    border-radius: 100%;
    border: 2px solid#1BBC9B;
    padding: 10px;
}
.location{
    text-align: end;
}
.job{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(0,0,0,.13);
    padding: 10px 15px 0px 10px;

}


@media(max-width:447px){
    .job{
        display: table;
    }
  .job-heading{
    justify-content: left;
  }
}
.Jobs{
    padding: 10px;
}