@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
  font-family: quicksand, sans-serif;
  overflow-y: scroll; /* Show vertical scrollbar */
  }
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.margin-container {
  padding-left: 15px;
  padding-right: 15px;
}

.ml-auto {
  margin-left: auto !important;
}

.one {
  height: 100%;
  max-height: 60px;
}
.image-slide{
  height: auto;
  max-width: 100%;
}

.slider {
  height: 90px;
  position: relative;
    width: 100%;
  
    display: grid;
    place-items: center;
    overflow: hidden;
  }
  .hovers_heading{
     
    padding:30px;
    margin-top:-60px
  }

  .content-description{
    display: none;
  }
  .content:hover .content-description{
      display: block;
      color:#1BBC98;
  }

  .slider::before,
  .slider::after{
    position:absolute;
    background-image: linear-gradient(to right,rgb(255 255 255 / 0%) 0%,rgba(0,0,0,0) 100%);   
   
    content:'';
    height:100%;
    width:25%;
    z-index:2;
    pointer-events:none;
  }
  .slider::before{
    left:0;
    top:0;
  }
  .slider::after{
    right:0;
    top:0;
    transform:rotateZ(180deg);
  }
  
  /*  IMPORTANT CODE BELOW */
  
 
  
  .slide-track2 {
    width: calc(217px * 13);
    display: flex;
    animation: scroll2 15s linear infinite;
    justify-content: space-between;
  }
  
  .slide {
    width: 150px;
    height: 60px;
  
    display: grid;
    place-items: center;
    transition:0.5s;
    cursor:pointer;
  }
  .slide:hover{
    transform:scale(0.8)
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(calc(150px * 10));
    }
  }
  
  @keyframes scroll2 {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(calc(-150px * 5));
    }
  }
  
  @media screen and (max-width: 768px) {
    .slide-track {
      width: calc(80px * 20);
    }
  
    .slide-track2 {
      width: calc(80px * 15);
    }
  
    .slide {
      width: 80px;
    }
  
    @keyframes scroll {
      0% {
        transform: translateX(0px);
      }
      100% {
        transform: translateX(calc(-80px * 10));
      }
    }
  
    @keyframes scroll2 {
      0% {
        transform: translateX(0px);
      }
      100% {
        transform: translateX(calc(-80px * 5));
      }
    }
  }

@media(max-width:400px) {
  .one {
    max-height: 30px;
  }
}

.navbar .navbarlist .list {
  font-family: quicksand, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #36373b;
  padding: 20px 40px;
}

.navbar .navbarlist .list:hover {
  color: #1BBC9B;

}

.navbar .navbarlist .list2:hover {
  color: white;
}

.list2 {
  font-family: quicksand, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: rgb(255, 255, 255);

  background: #1BBC9B;
  border-radius: 80px;
  width: 95px;
  padding: 5px;
  text-align: center;
}

.navbarlist {
  align-items: baseline;
}

.navbar .navbarlist .list2 {
  color: white;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

@media(max-width:991px) {
  .navbar .navbarlist .list2 {
    color: white;
    padding: 0px 6px;
    margin-left: 34px;
  }
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.0rem;
}

.navbar-light .navbar-toggler {
  /* color: rgba(0, 0, 0, .0); */
  border-color: rgba(0, 0, 0, .0);
}

.nav-item {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 9px;
  min-width: 200px;
  text-align: center;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content .list {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.nav-link .list {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}




.dropdown-content .list {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.nav-item:hover .dropdown-content {
  display: block;
}

.link1 {
  text-decoration: none;
  display: block;
  color: #36373b;
}

.link1:hover {
  color: #1BBC9B;
}

.custum-navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  border-bottom: 1px px solid #f0f0f0;
  background-color: #fff;
}


/* Navbar End */



/* Banner start  */
.banner {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  margin-top: 95px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 31%;
  transform: translate(-50%, -50%);
  

}

.center-text {
  font-size: 40px;
  margin-bottom: 1.5rem;
  font-family: quicksand, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  text-align: start;
}

@media (max-width:600px) {
  .center-text {
    font-size: 34px;
  }
}

@media (max-width:576px) {
  .center-text {
    font-size: 30px;
  }
}

@media (max-width:575px) {
  .center-text {
    font-size: 24px;
  }
}

@media (max-width:400px) {
  .center-text {
    font-size: 20px;

  }
}

/* Banner ended */


/* Services-section start */
/* Service*/
.right-tag {
  float: right;
  margin-top: 30px;
}

@media (max-width:1047px) {
  .main-footer {

    column-gap: 30px;
  }
}

@media (max-width:767px) {
  .main-footer {

    column-gap: 164px;
  }
}

@media (max-width:554px) {
  .main-footer {

    column-gap: 50px;
  }
}


@media (max-width:991px) {
  .tabs-nav {
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    margin-left: -30px;
    margin-top: 30px;

  }
}

@media (max-width:578px) {
  .tab-link:before {
    top: 19px;
    left: 10px;
    max-width: 125px;

  }
}

@media(max-width:578px) {
  .right-tag {
    float: left;
  }

  .clienthead {
    text-align: left;
  }

  .tabs-nav {
    margin-top: 30px;
  }

  .tab-link:hover {
    color: #1BBC9B;
    text-decoration: underline;
  }

  a.tab-link::before {
    width: 100%;

    max-width: 0px;
    height: 2px;
    background: #1BBC9B;
    opacity: 0;
    transition: all 0.3s;

  }

}

.left-tag {
  width: 100%;
}

.serve {
  width: 100%;
}

.tabs-nav {
  list-style: none;
}

.tab-link {
  margin-bottom: 50px;
  display: table;
  width: 100%;
  text-decoration: none;
  color: #36373b;
  font-size: 14px;
  font-weight: 700;
  font-family: quicksand, sans-serif;
  position: relative;
}

.tab-link:hover {
  color: #1BBC9B;
}

.tab-link:before {
  position: absolute;
  width: 100%;
  top: 12px;
  left: -30px;
  max-width: 25px;
  height: 2px;
  background: #1BBC9B;
  content: "";
  opacity: 0;
  transition: all 0.3s;

}




.tab-link:hover:before {
  margin-left: -10px;
  opacity: 1;

}

.tab-head {
  margin-bottom: 25px;
  display: table;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  font-family: quicksand, sans-serif;
}

/* Services-section  End */


/* Our work  */
.featured-box {
  overflow: hidden;
}

.featured-img {
  width: 100%;
  transition: transform .5s;
}

.featured-col-1 {
  padding: 0%;
}

.featured-col-2 {
  padding: 0;
  margin-top: 80px;
}

.featured-col-3 {
  padding: 0;
}

.featured-col-4 {
  padding: 0;
  margin-top: 80px;
}

.featured-img:hover {
  transform: scale(1.5);
}

.alltext {
  font-size: 40px;
  margin-bottom: 1.5rem;
  font-family: quicksand, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  color: #36373b;
}

@media (max-width:576px) {
  .alltext {
    font-size: 38px;
    margin-bottom: 1.5rem;
    font-family: quicksand, sans-serif;
    font-weight: 500;
    line-height: 1.2;
  }

  .clienthead {
    font-size: 38px;
    margin-bottom: 1.5rem;
    font-family: quicksand, sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #36373b;

  }
}




@media(max-width:400px) {
  .featured-col-3 {
    margin-top: 80px;
  }

}

/* Our work ended*/

/* Clients section start */
.service-img {
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .2s ease-in-out;
}

.service-img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}

.service-img {
  height: 100%;
  max-width: 100%;
  max-height: 100px;

}

.clienthead {
  font-size: 40px;
  margin-bottom: 1.5rem;
  font-family: quicksand, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  text-align: end;
  color: #36373b;


}

.client-section{
  text-align: center;
  margin-bottom: 20px;
}


.client-img {
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .2s ease-in-out;
}

.client-img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}

.client-img {
  max-width: 100%;

}


.client1-img {
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .2s ease-in-out;
}

.client1-img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}

.client1-img {
  max-width: 50%;

}


/* Clients section End*/



/* Hovering section */

.hovers{
  margin-top: 20px;
}
.hovering {
  margin-bottom: 20px;
}

.hovering .title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details .content-title {
  font-family: quicksand, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
}



.fadeIn-bottom {
  top: 60%;

}

@media(max-width:991px) {
  .content-title {
    font-size: 16px;
  }
}

@media all and (min-width:475px) and (max-width:767px) {

  .content-title {
    font-size: 40px;
  }
}

@media all and (min-width:320px) and (max-width:474px) {
  .content-title {
    font-size: 24px;
  }
}

/* Hovering section ended */



/*Footer*/
.footer-part {
  float: left;
  width: 100%;
}

.main-items{
  width: fit-content;
  margin: auto;
}



.item {
  color: #36373b;
  font-size: 15px;
  font-family: quicksand, sans-serif;
  margin-top: 20px;
  text-transform: capitalize;

}

.items {
  color: #36373b;
  font-size: 16px;
  font-weight: 700;
  margin: 15px 0;
  text-transform: uppercase;


}
.items-a{
  color: #36373b;
text-decoration: none;
}

.items-a:hover {
  color: #1BBC9B;
}



.footer {
  background-color: #808080;
  color: white;
}

.copyright {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin: 10px;
  text-align: left;

}
.copy-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

/* @media all and (min-width:1400px) and (max-width:3000px) {
  .main-footer {
    column-gap: 57px
  }
}

@media all and (min-width:1048px) and (max-width:1199px) {
  .main-footer {
    column-gap: 41px
  }
}

@media(max-width:1047px) {
  .main-footer {
    column-gap: 41px
  }
}

@media(max-width:991px) {
  .main-footer {
    column-gap: 30px
  }
}

@media(max-width:767px) {
  .main-footer {
    column-gap: 60px
  }
}

@media(max-width:540px) {
  .main-footer {
    column-gap: 100px;
    padding-left: 16%;
  }
}

@media(max-width:480px) {
  .main-footer {
    column-gap: 50px;
    padding-left: 11%;
  }
}

@media(max-width:400px) {
  .main-footer {
    column-gap: 40px
  }
}

@media(max-width:350px) {
  .main-footer {
    column-gap: 23px;
    padding-left: 6%;
  }
} */

.market {
  padding: 40px 0px 0px;
}


.copyimg {
  height: 100%;
  max-height: 20px;
  margin-top: 10px;
}

.highlight {
  padding: 40px 0px;
}

.vector {
  max-height: 12px;
  margin-top: 10px;
  margin-left: 2px;
}

@media(max-width:400px) {
  .vector {
    max-height: 10px;
    margin-top: 10px;
  }

}

.center-vector {
  max-height: 12px;
  margin-top: 10px;
  margin-left: 2px;
}

@media(max-width:400px) {
  .center-vector {
    max-height: 8px;
    margin-top: 4px;
  }

}

/* Footer ended */



/* Popup  */
.modal-content {
  background-color: transparent;
  border: 0px;
}

.modal-header {
  border-bottom: 0px;
}

#exampleModal .modal-dialog {
  max-width: 70%;
  margin: auto;
}

#exampleModal .modal-content {
  border-radius: 35px;
}

#exampleModal .btn-clse{
  position: absolute;
  right: 3%;
  width: 100%;
  top: 3%;
  max-width: 31px;
  border: none;
  padding:2px 0px 4px 1px;
    border-radius: 8px;
  background: #000000;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}
.arrow{
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
.popup-btn{
  position: absolute;
  top: 71%;
  left: 6%;
  width: 100%;
  max-width: 66px;
  border-radius: 20px;
  border: none;
  background: #1BBC9B;
  color: blanchedalmond;
  font-weight: bold;
  padding: 3px;

}

#exampleModal .modal-content {
  border-radius: 0px;
}
@media all and (min-width:1600px) and (max-width:3000px){
#exampleModal .btn-clse {
  position: absolute;
  right: 22%;
  top: 2%;
  padding: 0;
}
}


.services-page {
  position: relative;
  display: block;
  padding: 120px 0 90px;
  
}

.services-page__single {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.services-page__img-box {
  position: relative;
  display: block;
}

.services-page__img {
  position: relative;
  display: block;
}

.services-page__img img {
  width: 100%;
}

.services-page__icon {
  position: absolute;
  bottom: 0;
  right: 0;
}

.services-page__icon span {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 67px;
  font-size: 32px;
  color: white;
  background-color: black;
  opacity: 65%;
}

.services-page__content {
  position: relative;
  display: block;
  padding: 23px 30px 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);
}

.services-page__content::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 6px;
  background-color:black;
  opacity: 65%;
}

.services-page__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.services-page__title a {
  color: #232323;
  font-size: 36px;
  text-decoration: none;
}
.services-page__title a:hover {
  color: #232323;
  font-size: 36px;
  text-decoration: none;
}

.services-page__text {
  margin-top: 11px;
  margin-bottom: 6px;
  height:90px
}

.services-page__read-more {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none;
  background: black;
  color: white;
  opacity: 60%;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;

}

.services-page__hover-single {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: bottom left;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  z-index: 2;
}

.services-page__single:hover .services-page__hover-single {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.services-page__hover-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.services-page__hover-img::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 6px;
  background-color: #1bbc9b;
  z-index: 2;
}

.services-page__hover-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(8, 21, 40, .80);
  z-index: 1;
}

.services-page__hover-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 67px;
  top: 0;
  right: 0;
  background-color: #1bbc9b;
  z-index: 2;
}

.services-page__hover-icon span {
  position: relative;
  display: inline-block;
  font-size: 32px;
  color: white;
  transition: all 500ms linear;
  transition-delay: 0.1s;
  transform: scale(1);
}

.services-page__hover-single:hover .services-page__hover-icon span {
  transform: scale(0.9);
}

.services-page__hover-content {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
  z-index: 2;
}

.services-page__hover-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.services-page__hover-title a {
  color: white;
  text-decoration: none;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.services-page__hover-title a:hover {
  color: #1bbc9b;
  text-decoration: none;
}

.services-page__hover-text {
  margin-top: 11px;
  color: white;
  margin-bottom: 6px;
}


.services-page__hover-read-more {
  position: relative;
  display: inline-block;
  font-size: 14px;
  color: white;
  background: #1bbc9b;
  text-decoration: none;
  font-weight: 400;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.services-page__hover-read-more:hover {
  color: var(--sinace-white);
}
/* .navbar-toggler>.close {
  display:inline;
}
.navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
  display:none;
} */