.arrowdiv {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 50px;
    margin-top: 30px;
  }
  .arrow-img1 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }
  .arrow-img2 {
    position: absolute;
    top: 0px;
    max-height: 80px;
    border: 4px solid #747474;
    margin-left: 72px;
    margin-top: -37px;
    border-radius: 39px;
    padding: 12px;
   
  }

    @media(max-width:768px){
        .arrow-img2{
            max-height:50px;
            margin-top: -26px;
            margin-left:22px;
        }
    }
    @media(max-width:400px){
        .arrow-img2{
            max-height:40px;
            margin-top: -19px;
            margin-left:31px;
            padding: 6px;
            border: 2px solid #747474;

        }
    }
    @media(max-width:350px){
        .arrow-img2{
            max-height:35px;
            margin-top: -17px;
            margin-left:26px;
            padding: 5px;
            border: 2px solid #747474;
        }
    }
 
    
.arrow-text{
    position: absolute;
    top: 0px;
    margin-left: 72px;
    top: 50%;
    transform: translateY(-50%);
    font-family: quicksand,sans-serif;
    font-size: 18px;
}

@media(max-width:400px){
    .arrow-text{
           font-size: 12px;
           margin-left: 20px;

    }
}
@media(max-width:350px){
    .arrow-text{
        font-size: 10px;

    }
}
/* Iot solution */
.img-liner{
    width: 100%;
    max-height: 150px;
    border: 25px solid #747474;
    border-radius: 80px;
    padding: 8px;
    max-width: 120px;
}

.lining{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 32px;
    position: relative;
}
.lining1{
    text-align: center;
    color: #36373b;
    font-size: 18px;
    font-family: quicksand,sans-serif;
    margin-left: 55px;
}
.lining2{
    text-align: center;
    margin-top: 11px;
    color: #36373b;
    font-size: 18px;
    font-family: quicksand,sans-serif;
    margin-left: 60px;
}
.liner{
    width: 100%;
    position: absolute;
    top: -55px;
    margin-top: 30px;
}
.liner-text1{
    font-size: 18px;
    font-family: quicksand,sans-serif;
    margin-top: 10px;
}
.main-liner{
    padding: 0px 0px 20px;
}
.about-img1{
    filter: gray; 
    -webkit-filter: grayscale(1); 
    -webkit-transition: all .2s ease-in-out;  
  }
  .about-img1:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
    }
/* 
@keyframes swing {
    20% {transform:scale(.70);}
    50% { transform: (10deg); }
    80% {transform:scale(.10);}
  }
  
  .liner{
    animation: swing 2s infinite ease-in-out;
  }
  
  .arrow-div{
    margin:50px auto;
    text-align:center;
  }  */