body {
    font-family: quicksand, sans-serif;

}


.arrowdiv {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 50px;
    margin-top: 30px;
}

.arrow-img1 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.arrow-img2 {
    position: absolute;
    top: 0px;
    max-height: 80px;
    border: 4px solid #747474;
    margin-left: 70px;
    margin-top: -37px;
    border-radius: 39px;
    padding: 12px;

}

.arrow-text {
    position: absolute;
    top: 0px;
    margin-left: 72px;
    top: 50%;
    transform: translateY(-50%);
    font-family: quicksand, sans-serif;
    font-size: 18px;
    color: #36373b;
}




@media all and (min-width:1400px) and (max-width:3000px) {
    .arrow-img2 {

        margin-left: 80px;
        border: 4px solid #747474;
        padding: 8px;

    }

    .arrow-text {
        font-size: 18px;
    }
}

@media(max-width:1399px) {
    .arrow-img2 {

        margin-left: 70px;

    }
}

@media(max-width:1199px) {
    .arrow-img2 {

        margin-left: 58px;

    }
}


@media(max-width:1047px) {
    .arrow-img2 {

        margin-left: 56px;

    }
}



@media(max-width:991px) {
    .arrow-img2 {

        margin-left: 41px;
        margin-top: -28px;
        max-height: 60px;

    }

    .arrow-text {
        font-size: 14px;
        margin-left: 40px
    }

}


@media all and (min-width:575px) and (max-width:767px) {
    .arrow-img2 {
        margin-left: 46px;
        margin-top: -24px;
        max-height: 50px;
        border: 3px solid #747474;
        padding: 4px;
    }

    .arrow-text {
        font-size: 18px;
        margin-left: 25px;
    }

}
@media all and (min-width:320px) and (max-width:330px) {
    .arrow-img2 {
        margin-left: 24px;
        margin-top: -13px;
        max-height: 30px;
        border: 1px solid #747474;
        padding: 2px;
    }

    .arrow-text {
        font-size: 10px;
        margin-left: 20px;
    }

}
@media all and (min-width:331px) and (max-width:346px) {
    .arrow-img2 {
        margin-left: 26px;
        margin-top: -13px;
        max-height: 30px;
        border: 1px solid #747474;
        padding: 2px;
    }

    .arrow-text {
        font-size: 10px;
        margin-left: 20px;
    }

}
@media all and (min-width:347px) and (max-width:370px) {
    .arrow-img2 {
        margin-left: 28px;
        margin-top: -13px;
        max-height: 30px;
        border: 1px solid #747474;
        padding: 2px;
    }

    .arrow-text {
        font-size: 10px;
        margin-left: 20px;
    }

}
@media all and (min-width:371px) and (max-width:390px) {
    .arrow-img2 {
        margin-left: 30px;
        margin-top: -13px;
        max-height: 30px;
        border: 1px solid #747474;
        padding: 2px;
    }

    .arrow-text {
        font-size: 10px;
        margin-left: 23px;
    }

}
@media all and (min-width:391px) and (max-width:412px) {
    .arrow-img2 {
        margin-left: 32px;
        margin-top: -17px;
        max-height: 40px;
        border: 2px solid #747474;
        padding: 2px;
    }

    .arrow-text {
        font-size: 12px;
        margin-left: 27px;
    }

}
@media all and (min-width:413px) and (max-width:440px) {
    .arrow-img2 {
        margin-left: 34px;
        margin-top: -16px;
        max-height: 40px;
        border: 3px solid #747474;
        padding: 3px;
    }

    .arrow-text {
        font-size: 12px;
        margin-left: 28px;
    }

}
@media all and (min-width:441px) and (max-width:464px) {
    .arrow-img2 {
        margin-left: 36px;
        margin-top: -16px;
        max-height: 40px;
        border: 3px solid #747474;
        padding: 3px;
    }

    .arrow-text {
        font-size: 12px;
        margin-left: 28px;
    }

}
@media all and (min-width:465px) and (max-width:481px) {
    .arrow-img2 {
        margin-left: 38px;
        margin-top: -22px;
        max-height: 50px;
        border: 3px solid #747474;
        padding: 5px;
    }

    .arrow-text {
        font-size: 13px;
        margin-left: 33px;
    }

}
@media all and (min-width:482px) and (max-width:508px) {
    .arrow-img2 {
        margin-left: 41px;
        margin-top: -22px;
        max-height: 50px;
        border: 3px solid #747474;
        padding: 5px;
    }

    .arrow-text {
        font-size: 13px;
        margin-left: 35px;
    }

}
@media all and (min-width:521px) and (max-width:550px) {
    .arrow-img2 {
        margin-left: 44px;
        margin-top: -28px;
        max-height: 60px;
        border: 4px solid #747474;
        padding: 5px;
    }

    .arrow-text {
        font-size: 14px;
        margin-left: 40px;
    }

}
@media all and (min-width:551px) and (max-width:575px) {
    .arrow-img2 {
        margin-left: 47px;
        margin-top: -28px;
        max-height: 60px;
        border: 4px solid #747474;
        padding: 5px;
    }

    .arrow-text {
        font-size: 14px;
        margin-left: 43px;
    }

}

/* Iot solution */


.about-img1 {
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .2s ease-in-out;
}

.about-img1:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
}





.industry-img{
    width: 100%;
}
.industry{

    text-align: center;
}
.industry1{
    border: #36373b;
}
.industry2{
    margin-top: 35px;
}
.industry-text1{
    margin-top: 30px;
}
.industry-text{
    margin-top: -10px;
}
@media all and (min-width:400px) and (max-width:767px) {
    .industry2{
        margin-top: -37px;
    }
    .industry1{
        margin-bottom: 45px;
    }
}
@media all and (min-width:300px) and (max-width:399px) {
    
    .industry2{
        margin-top: -37px;
    }
    .industry1{
        margin-bottom: 45px;
    }
    .industry-text1{
        font-size: 13px;
    }
    .industry-text{
            font-size: 13px;
}
}
.left-sec {
    text-align: right;
    padding: 50px 25px 50px 0px;
    border-right: solid 1px #313131;
}
.img-title-mng {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.progress-sec {
    margin-top: 40px;
}
.progress-stick {
    background-color: #D9D9D9;
    height: 20px;
    border-radius: 20px;
    max-width: 420px;
    margin-left: auto;
    margin-bottom: 10px;
    position: relative;
}
.progress-stick .fill {
    position: absolute;
    right: -1px;
    height: 100%;
    background: #1BBC9B;
        border-radius: inherit;
}
.left-sec {
    text-align: right;
    padding: 50px 25px 50px 0px;
    border-right: solid 1px #313131;
}
.slider1{
    text-align: right;
}
.text-16{
    text-align: right;
    color: #36373b;
    font-size: 18px;
    line-height: 1.1rem;
}
.progress-stick .fill1 {
    position: absolute;
    left: -1px;
    height: 100%;
    background: #1BBC9B;
        border-radius: inherit;
}
.text-17{
    text-align: left;
    color: #36373b;
    font-size: 18px;
    line-height: 1.1rem;
}
.slider1{
        /* padding: 10px 12px 1px 0px; */
}