body {
  font-family: quicksand, sans-serif;

}

.quality1 {
  background: #747474;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  text-align: center;
  min-height: 140px;
  color: white;
  font-family: quicksand, sans-serif;

}

.quality2 {
  background: #747474;
  margin-top: 50px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  min-height: 140px;
  text-align: center;
  color: white;
  font-family: quicksand, sans-serif;


}

@media all and (min-width:768px) and (max-width:991px) {
  .q-text {
    margin-top: 30px;
    font-size: 12px;
  }

  .quality {
    margin-bottom: 20px;

  }
}

@media all and (min-width:280px) and (max-width:767px) {
  .quality2 {
    margin-top: 0px;
  }

  .quality {
    margin-bottom: 20px;
  }
}





.q-img {
  top: 50%;
  transform: translateY(50%);
  border-radius: 5px;
  max-height: 50px;
  background: white;
  border-radius: 25px;
  padding: 7px;
}

.q-text {
  margin-top: 30px;
}