.Images_text{
    display:flex;
    gap:160px;
}
.Images_text_content{
    display:flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    width:50%;

}
.box_content{
    display: flex;
    flex-direction: column;
    gap:10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    padding: 30px;
}
.parent_box_content{
display: grid;
grid-template-columns: repeat(4,1fr);
gap:80px;
justify-content: center;
 
}
 img{
    max-width: 100%;
 }

 @media (max-width:1047px) {
     .parent_box_content{
        grid-template-columns: repeat(3,1fr);
     }
  }
  @media (max-width:800px) {
    .parent_box_content{
       grid-template-columns: repeat(2,1fr);
    }

 }
 @media (max-width:400px) {
    .parent_box_content{
       grid-template-columns: repeat(1,1fr);
    }
}